# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
./vscode

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.angular
apps/backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
apps/backend/obj/Debug/net8.0/Vim.Backend.AssemblyInfo.cs
apps/backend/obj/Debug/net8.0/Vim.Backend.AssemblyInfoInputs.cache
apps/backend/obj/Debug/net8.0/Vim.Backend.GeneratedMSBuildEditorConfig.editorconfig
apps/backend/obj/Debug/net8.0/Vim.Backend.GlobalUsings.g.cs
