<div class="max-w-md mx-auto mt-8">
  <h2 class="text-xl font-bold mb-4">Login</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="space-y-4">
    <div>
      <label for="email" class="block">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        class="input-field"
      />
    </div>
    <div>
      <label for="password" class="block">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
        class="input-field"
      />
    </div>
    <div>
      <label for="twoFactorCode" class="block">Two Factor Code:</label>
      <input
        type="text"
        id="twoFactorCode"
        formControlName="twoFactorCode"
        class="input-field"
      />
    </div>
    <div>
      <label for="twoFactorRecoveryCode" class="block"
        >Two Factor Recovery Code:</label
      >
      <input
        type="text"
        id="twoFactorRecoveryCode"
        formControlName="twoFactorRecoveryCode"
        class="input-field"
      />
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn-login">
      Login
    </button>
  </form>
</div>
